body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.inner-div{
    padding: 20px;
    margin: 5%;
    text-align: center;
    border: 2px solid #fa8072;
}

.outer-div{
    border: 2px dotted #777;
}